<div class="topnav">
    <a href="/"> Home</a>
    <a href="/pizza"> pizza</a>
    <a href="/noodles">Noodles</a>
    <a href="/cake">Cake</a>
    <a href="/pasta">Pasta</a>
    <a href="/stew" class="active" >Flappy Stew</a>
    <a href="/fries">Fries</a>
    <a href="/burger">Burger</a>
    <a href="/veggy">Veggy Bowl</a>
</div>

<section class="firstpage" align="center">
    <div style="height: 200px;"></div>
    <div class="box oo">

        <section class="side left">
            <video width="100%" controls class="border">
                <source src="../../assets/videos/pizza-video.mp4" type="video/mp4">
                <source src="" type="video/ogg">
            </video>
            <h2 class="leftext">Ingredents</h2><br>
            <div class="leftext">
                Pizza Dough: Makes enough dough for two 10-12 inch pizzas
                <table>
                    <ul>
                        <li> 1/2 cups (355 ml) warm water (105°F-115°F) </li>
                        <li> package (2 1/4 teaspoons) of active dry yeast </li>
                        <li>3/4 cups (490 g) bread flour</li>
                        <li>2 tablespoons extra virgin olive oil (omit if cooking pizza in a wood-fired pizza oven)</li>
                        <li>2 teaspoons salt</li>
                        <li> 1 teaspoon sugar</li>
                    </ul>

                </table>
            </div>
            <br><br>
            <div>
                <h2 class="leftext">How to Prepare</h2><br>
                <p class="leftext">
                    3 Let the dough rise: Spread a thin layer of olive oil
                    over the inside of a large bowl. Place the pizza dough in the bowl and turn it
                    around so that it gets coated with the oil.

                    At this point you can choose how long you want the dough to ferment and rise.
                    A slow fermentation (24 hours in the fridge) will result in more complex flavors in the dough.
                    A quick fermentation (1 1/2 hours in a warm place) will allow the dough to rise sufficiently to work
                    with.
                </p>
            </div>

        </section>

        <section class="side right">
            <h1 class="text">Flappy Stew</h1>

            <div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
            </div>
            <br><br><br>

            <div>
                Pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination
                of olive oil, oregano, tomato, olives, mozzarella or other cheese, and many other ingredients,
                baked quickly—usually, in a commercial setting, using a wood-fired oven heated to a very high
                temperature—and served hot
            </div>

                <br>

            <div>
                <div class="circle">
                    <div class="circle-height">8 <br> INTREGENTS</div>
                </div>
                <div class="circle">
                    <div class="circle-height">220 <br></div>
                </div>
                <div class="circle">
                    <div class="circle-height">25 <br> </div>
                </div>

            </div>

            <br>
            <br>
            
                <textarea rows="20" cols="50" name="comment"  class="border" placeholder="Enter your view....">
                </textarea>
                <br>
                <button class="btn border">comment</button>

            
        </section>
        


    </div>


</section>