<section class="firstpage" align="center">
    <div style="height: 200px;"></div>
    <div class="box oo">
  
      <p class="head"> Pizza and Noodles</p>
      <a href="/pizza"> <img src=".././../assets/images/pizza.jpg" alt="colddrinks" class="center overlay"></a>
      <a href="/noodles"> <img src=".././../assets/images/noodles.jpg" alt="colddrinks" class="center overlay"></a>
      <a href="/cake"> <img src=".././../assets/images/cake.jpg" alt="colddrinks" class="center overlay"></a>
      <a href="/pasta"> <img src=".././../assets/images/pasta.jpg" alt="colddrinks" class="center overlay"> </a>
      <a href="/stew"> <img src=".././../assets/images/stew.jpg" alt="colddrinks" class="center overlay"> </a>
      <a href="/fries"> <img src=".././../assets/images/fries.jpg" alt="colddrinks" class="center overlay"> </a>
      <a href="/burger"> <img src=".././../assets/images/burger.jpg" alt="colddrinks" class="center overlay"> </a>
      <a href="/veggy"> <img src=".././../assets/images/veggy.jpg" alt="colddrinks" class="center overlay"> </a>
  
    </div>
  
    <div style="height: 200px;"></div>
  
  </section>
  <router-outlet></router-outlet>